@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-level styles */
:root {
  --card-bg: 255 255 255; /* rgb */
  --card-ring: 59 130 246; /* blue-500 */
}
.dark :root {
  --card-bg: 3 7 18; /* gray-950 */
  --card-ring: 99 102 241; /* indigo-500 */
}

.card {
  @apply rounded-2xl shadow-soft ring-1 ring-black/5 dark:ring-white/10;
  background-color: rgb(var(--card-bg));
}
